.banner {
  display: grid;
  padding: 3rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  background-color: darkorchid;
  color: white;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}