html, body {
  color: #2c3e50;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: calc(0.5rem - 3.6rem);
  padding-top: calc(1rem + 3.6rem);
  margin-bottom: 0;
}

h1 {
  display: none;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
}

h3 {
  font-size: 1.35rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1rem;
}

a, a:link, a:visited, a:hover {
  font-weight: 500;
  color: #3eaf7c;
  text-decoration: none;
  overflow-wrap: break-word;
}

dl, ol, ul {
  margin-top: 1rem;
}

li {
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

img {
  display: block;
  /* padding: 1rem; */
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: var(--me-box-shadow);
}